.root {
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-radius: 12px;
  border: 1px solid #e2e8f0;
  padding: 20px;

  & .title {
    font-size: 1.125rem;
    font-weight: 600;
  }

  & .description {
    font-size: 0.875rem;
    color: #64748b;
  }
}
