.root {
  /* Layout */
  display: flex;
  flex-direction: column;

  /* Box model */
  height: 100dvh;
  min-height: 0;
}

.header {
  /* Layout */
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* Box model */
  height: 64px;
  padding: 16px;
  border-bottom: 1px solid rgba(148, 163, 184, 0.6);
}

.title {
  /* Visual */
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: -0.025em;
  color: inherit;
  text-decoration: none;
}

.main {
  /* Layout */
  flex: 1 1 auto;

  /* Box model */
  width: 100%;
  min-height: 0;
  max-width: 64rem;
  margin: 0 auto;
  padding: 16px;
}
