.root {
  /* Layout */
  display: flex;
  flex-direction: column;

  /* Box model */
  height: 100dvh;
  min-height: 0;
}

.header {
  /* Layout */
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* Box model */
  height: 64px;
  padding: 14px 16px;
  border-bottom: 1px solid rgba(148, 163, 184, 0.6);

  /* Visual */
  background-color: #f2f8fc;
}

.logoLink {
  /* Layout */
  align-self: center;

  /* Box model */
  height: 28px;
}

.logo {
  /* Layout */
  display: block;

  /* Box model */
  height: 100%;
}

.main {
  /* Layout */
  flex-grow: 1;

  /* Box model */
  width: 100%;
  min-height: 0;
  max-width: 64rem;
  max-height: 48rem;
  margin: 0 auto;
  padding: 16px;
  overflow-y: auto;
}
