.root {
  & .header {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  & .description {
    font-size: 0.875rem;
  }

  & .details {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 0.875rem;
    color: #64748b;
  }

  & .note {
    margin-top: 16px;
    font-size: 0.875rem;
    color: #475569;
  }
}
