.root {
  display: flex;
  flex-direction: column;
  gap: 20px;

  & .title {
    height: 32px;
    width: 96px;
    border-radius: 4px;
  }

  & .list {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
  }

  & .item {
    height: 24px;
    width: 100%;
    border-radius: 4px;
  }
}
