.root {
  display: flex;
  flex-direction: column;
  gap: 24px;

  & .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  & .title {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: -0.025em;
    color: inherit;
    text-decoration: none;
  }
}
