.root {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 24px;

  .overview {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .summaries {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 12px;
    }
  }

  .section {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    gap: 16px;
    min-height: 0;
    height: 100%;

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 12px;
      width: 100%;
    }

    .content {
      overflow-y: auto;
    }

    .content {
      ul {
        display: flex;
        flex-direction: column;
        gap: 1px;
      }
    }
  }
}
