.root {
  /* Layout */
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* Box model */
  padding: 12px 16px;
  border-left: 4px solid;
}

.empty {
  /* Layout */
  justify-content: center;

  /* Box model */
  border-color: transparent;

  /* Visual */
  background-color: #f1f5f9;
}

.empty .label {
  /* Visual */
  font-size: 1rem;
  color: #475569;
}

.balanced {
    /* Box model */
  border-color: #60a5fa;

  /* Visual */
  background-color: #eff6ff;
  --icon-color: #2563eb;
}

.surplus {
  /* Box model */
  border-color: #34d399;

  /* Visual */
  background-color: #ecfdf5;
  --icon-color: #059669;
}

.deficit {
    /* Box model */
  border-color: #fb7185;

  /* Visual */
  background-color: #fff1f2;
  --icon-color: #e11d48;
}

.left {
  /* Layout */
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon {
  /* Box model */
  width: 1.25rem;
  height: 1.25rem;

  /* Visual */
  color: var(--icon-color);
}

.label {
  /* Visual */
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 500;
  color: #0f172a;
}

.amount {
  /* Visual */
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  color: #0f172a;

  @media (min-width: 768px) {
    font-size: 1.5rem;
  }
}
