.root {
  /* Layout */
  display: flex;
  flex-direction: column;
  gap: 16px;

  /* Box model */
  height: 100%;
}

.overview {
  /* Layout */
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.summaries {
  /* Layout */
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 8px;
}

.content {
  /* Layout */
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 16px;

  /* Box model */
  min-height: 0;
}

.viewport {
  /* Layout */
  flex: 1;
  container-type: inline-size;

  /* Box model */
  min-height: 0;
  overflow: hidden;
}

.lists {
  --lists-gap: 16px;

  /* Layout */
  display: flex;
  gap: var(--lists-gap);
  width: fit-content;
  height: 100%;

  --duration: 500ms;

  /* Interaction */
  transition: transform var(--duration) ease-in-out;

  @media screen and (min-width: 768px) {
    --duration: 600ms;
  }

  &[data-section="income"] {
    transform: translateX(0);
  }

  &[data-section="expenses"] {
    transform: translateX(calc(-100cqw - var(--lists-gap)));
  }
}

.list {
  /* Layout */
  display: flex;
  flex-direction: column;

  /* Box model */
  width: 100cqw;
  min-height: 0;
  overflow-y: auto;
}

.addItem {
  /* Layout */
  display: flex;
  align-self: flex-start;
  align-items: center;
  gap: 6px;

  /* Box model */
  padding: 8px 16px;
  border: none;
  border-radius: 4px;

  /* Visual */
  background: var(--color-primary);
  color: white;
  font-size: 0.875rem;

  /* Interaction */
  cursor: pointer;

  &:hover {
    background: var(--color-primary-hover);
  }

  &:active {
    background: var(--color-primary-active);
  }
}
