.root {
  /* Layout */
  display: flex;
  flex-direction: column;
  gap: 24px;

  /* Box model */
  height: 100%;
}

.overview {
  /* Layout */
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.summaries {
  /* Layout */
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 12px;
}

.section {
  /* Layout */
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  gap: 16px;

  /* Box model */
  min-height: 0;
  height: 100%;
}

.items {
  /* Layout */
  flex: 1;

  /* Box model */
  min-height: 0;
  overflow-y: auto;
}

.addButtons {
  /* Layout */
  display: flex;
  align-items: center;
  gap: 16px;
}
