.root {
  /* Layout */
  display: flex;
  flex-direction: column;
  gap: 8px;

  /* Box model */
  height: 100%;

  @media (min-width: 768px) {
    /* Layout */
    gap: 16px;
  }
}

.summaries {
  /* Layout */
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 8px;

  @media (min-width: 768px) {
    /* Layout */
    gap: 12px;
  }
}

.viewport {
  /* Layout */
  flex: 1;
  container-type: inline-size;

  /* Box model */
  min-height: 0;
  overflow: hidden;
}

.lists {
  --lists-gap: 16px;

  /* Layout */
  display: flex;
  gap: var(--lists-gap);
  width: fit-content;
  height: 100%;

  --duration: 500ms;

  /* Interaction */
  transition: transform var(--duration) ease-in-out;

  @media (min-width: 768px) {
    --duration: 600ms;
  }

  &[data-section="income"] {
    transform: translateX(0);
  }

  &[data-section="expenses"] {
    transform: translateX(calc(-100cqw - var(--lists-gap)));
  }
}

.list {
  /* Layout */
  display: flex;
  flex-direction: column;

  /* Box model */
  width: 100cqw;
  min-height: 0;
  overflow-y: auto;
}

.addItem {
  /* Layout */
  align-self: flex-start;
}
