.root {
  /* Layout */
  display: flex;
  flex-direction: column;
  gap: 12px;

  /* Box model */
  border-radius: 16px;
  border: 3px solid transparent;
  padding: 18px;

  /* Visual */
  text-align: left;

  /* Interaction */
  cursor: pointer;
  transition: border 0.2s ease;

  @media screen and (min-width: 768px) {
    padding: 24px;
  }
}

.active {
  /* Interaction */
  transition: border-color 0.4s ease;
}

.income {
  /* Visual */
  background-color: #ecfdf5;

  &.active {
    /* Visual */
    border-color: #34d399;
  }
}

.expense {
  /* Visual */
  background-color: #fff1f2;

  &.active {
    /* Visual */
    border-color: #fb7185;
  }
}

.heading {
  /* Visual */
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  color: #475569;
}

.value {
  /* Visual */
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  color: #0f172a;

  @media screen and (min-width: 768px) {
    font-size: 1.5rem;
  }
}
