.root {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100%;

  & .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
  }

  & .controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    width: 100%;
  }

  .content {
    overflow-y: auto;
  }
}
