.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  & .group {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  & .delete {
    display: flex;
    align-items: center;
  }
}
