.root {
  /* Layout */
  display: flex;
  align-items: baseline;
  justify-content: space-between;

  /* Box model */
  padding: 8px 12px;

  /* Visual */
  background-color: #f1f5f9;
}

.name {
  /* Visual */
  font-size: 0.875rem;
  font-weight: 600;
  color: #334155;
}

.total {
  /* Visual */
  font-size: 0.875rem;
  font-weight: 600;
  color: #111827;
}
