.empty {
  /* Visual */
  font-size: 0.875rem;
  text-align: center;
  color: #94a3b8;
}

.group {
  /* Layout */
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.header {
  /* Layout */
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;

  /* Box model */
  padding: 8px 12px;

  /* Visual */
  background-color: #f1f5f9;
}

button.header {
  /* Box model */
  border: none;

  /* Interaction */
  cursor: pointer;
}

.name {
  /* Visual */
  font-size: 0.875rem;
  font-weight: 600;
  color: #334155;
}

.total {
  /* Visual */
  font-size: 0.875rem;
  font-weight: 600;
  color: #111827;
}