.root {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  min-height: 0;

  & .header {
    border-bottom: 1px solid rgba(148, 163, 184, 0.6);
    height: 64px;
  }

  & .headerInner {
    width: 100%;
    padding: 16px;
  }

  & .main {
    width: 100%;
    flex: 1 1 auto;
    min-height: 0;
    max-width: 64rem;
    margin: 0 auto;
    padding: 16px;
  }
}
